#imgPinco {
    width: 200px; 
    height: 200px;
    margin-top: 20px;
}
#divTestata{
    text-align: center;
    background-color: lightgrey;
}
.titolo-giallo{
    color:orange;
}
.font-titolo{
    font-family:verdana, arial;
}
.font-paragrafi{
    font-family:'Courier New', Courier, monospace
    
}

#footer-finale{
    text-align: center;

}